<div class="spinner-border text-primary" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>
<div class="card bg-dark text-white" style="margin-top: 10px;">
    <img class="card-img" [src]="urlImage" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">{{comentario.titulo}}</h5>
      <p class="card-text">{{comentario.texto}}</p>
      <ul>
          <li>{{comentario.creador}}</li>
          <li>{{comentario.fechaCreacion | date:'dd/MM/yyyy'}}</li>
      </ul>
    </div>
  </div>